<html>
    <head>
        <title>Voting Management System</title>
        <link rel="stylesheet" type="text/css" href="main_page.html">
    </head>
    
<body>
    <div id="form">
    <fieldset>
    <legend><h1>Voting Management System</h1></legend>
<centre>
    <img src="https://cdn.dribbble.com/users/273990/screenshots/5519988/media/7da1c6beb70a5270d2c801d5cdc5fb03.jpg?compress=1&resize=800x600&vertical=top" height="56%" width="95%">
</centre>
</fieldset>
</div>
</body>
</html>
